body {
  background-image: url(new_doug_parrot.gif);
  background-repeat: repeat;
}

div.vid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div.vid {
  width: 640px;
  height: 360px;
  background-color: white;
  z-index: 999 !important;
}

video {
  background-image: url(doug-loading.jpg);
}